[Unit]
Description=Gyrognome local runtime for character %i

[Service]
Type=exec
ExecStart=gyro worker %i
KillSignal=SIGTERM

[Install]
WantedBy=default.target
